body {
	padding: 0;
	margin: 0;
	color: #555;
	font-family: Arial;
	overflow-y: scroll;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	width: 100%;
	height: 60px;
	box-shadow: 0 0 3px gray;
	background-color: #d71400;
	background-image: url(../images/noise.png);
	overflow: hidden;
	cursor: default;
	z-index: 5;
}

h1 {
	position: absolute;
	top: 7px;
	left: 60px;
	font-weight: normal;
	font-size: 36px;
	color: white;
	margin: 0;
	transition-duration: .2s;
}

header nav div.icon {
	position: relative;
	top: 17px;
	left: 20px;
	display: inline-block;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    color: #f1f1f1;
}

.overlay-content {
    position: relative;
    top: -30px;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    color: #808080;
    display: block;
    transition: 0.3s;
}

.closebtn {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,.5);
}

.overlay ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}

.overlay li a {
    display: block;
    color: #555;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 10px;
    border-color: #808080;
}

.overlay .current a {
	background-color: #6aa70a;
	color: #fff;
}

#slides {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    top: 60px;
}

.slidepic {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.current_slidepic {
    opacity: 1;
    z-index: 2;
}

.tilewrapper {
	width: 90%;
	position: relative;
	left: 5%;
	top: 80px;
	margin-bottom: 100px;
}

.image img {
	width: 100%;
	top: 0;
	left: 0;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

.image {
	width: 40%;
	top: 20px;
	position: relative;
	float: left;
}

.newstile article {
	display: inline-block;
	position: relative;
	width: 55%;
	margin: 0;
	padding: 0;
	float: right;
	color: #555;
}

.newstile h3 {
	width: 50%;
	float: right;
	display: inline-block;
	position: relative;
	color: #555;
}

.newstile {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	min-height: 235px;
}

#beitrag1 {
	height: calc(100%-60px);
	position: fixed;
	top: 60px;
	right: 0;
	width: 0;
	background-color: #fff;
	min-height: 100%;
    transition: 0.5s;
    padding-bottom: 400px;
    overflow: scroll;
}

.picture-overview img {
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	top: 0;
}

.beitragimg {
	min-width: 100%;
}

.beitragimg img {
	width: 100%;
}

.beitragtext {
	min-height: 100%;
	padding-bottom: 100px;
}

.picture-overview {
	width: 20%;
	display: inline-block;
}

.divider {
	background-color: #6AA70A;
	width: 100%;
	color: #fff;
	height: 51px;
	margin-top: -5px;
}

.divider p {
	display: inline-block;
	width: 50%;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 36px;
	color: #fff;
	float: left;
	text-align: center;
	margin: 0;
}

.cookies {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #fff;
	font-size: 20px;
}

.cookiestext {
	border-top: 300px;
	border-color: #555;
	text-align: center;
	width: 65%;
	left: 0;
	margin-top: -15px;
	color: #555;
}

.cookiestext a {
	color: #6AA70A;
	text-decoration: none;
	display: inline-block;
}

.cookiesok {
	display: inline-block;
	width: 35%;
	background-color: #6AA70A;
	float: right;
	margin-top: -50px;
	color: #fff;
	height: 40px;
	text-align: center;
}

.cookiesok p {
	margin: 0;
	padding-top: 7px;
}

@media screen and (max-width: 500px){
	
	header {
		height: 45px;
	}

	h1 {
		font-size: 30px;
		top: 4px;
		left: 45px;
	}

	header nav div.icon {
		top: 13px;
		left: 13px;
		width: 20px;
		height: 20px;
	}

	.overlay a {
		font-size: 24px;
	}

	#slides {
		top: 40px;
	}

	.cookies {
		font-size: 15px;
		height: 30px;
	}

	.cookiestext {
		width: 75%;
		margin-top: -10px;
	}

	.cookiesok {
		width: 25%;
		margin-top: -38px;
		height: 30px;
	}
}